<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="LOG_PATH" value="logs" />
    <property name="APP_LOG_FILE" value="${LOG_PATH}/app_log-file.log"/>
    <property name="LOG_ARCHIVED" value="${LOG_PATH}/log_archived" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <!---->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_FILE}</file>
        <immediateFlush>true</immediateFlush>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVED}/core.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10GB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level  %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!---->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(-){faint} %clr([%15.15t]){blue} %clr(%40.40logger{39}){cyan} %clr(-){yellow} %m%n%wEx</pattern>
        </encoder>
    </appender>

    <!--  Profiles below. Choose in application.properties  -->
    <springProfile name="DEBUG">
        <logger name="spring.app.controller" level="debug" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="spring.app" level="debug" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="org.hibernate.SQL" level="debug" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="com.vk.api.sdk.httpclient.HttpTransportClient" level="debug" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE" />
        </logger>

        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="DEV">
        <logger name="spring.app.controller" level="debug" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="spring.app" level="debug" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="com.vk.api.sdk.httpclient.HttpTransportClient" level="info" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="PROD">
        <logger name="spring.app.controller" level="info" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <logger name="spring.app" level="info" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>

        <logger name="com.vk.api.sdk.httpclient.HttpTransportClient" level="warn" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

    </springProfile>

</configuration>