.top{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 8px;
    margin-top: 54px;
    /*margin-left: 15px;*/
}


.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #111111;
    display: block;
}

.sidenav a:hover {
    color: #111111;
}

.main {
    margin-top: 54px;
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}