<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="/css/font-glyphicons.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <title>theme</title>
</head>
<body>
<div class="container-fluid">
    <div class="sidenav">
        <div>
            KJUJ
        </div>
        <div class="list-group list-group-flush">
            <!--        <div class="list-group list-group-flush">-->
            <a class="active list-group-item list-group-item-action"
               href="#">Темы</a>
        </div>

        <div class="list-group list-group-flush">
            <a class="active list-group-item list-group-item-action"
               href="#">Вопросы</a>
        </div>
    </div>
    <div class="main">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand"></a>
            <form class="form-inline">
                <a href="#" class="btn btn-primary">Добавить тему</a>
            </form>
            <div class="input-group mb-3">
                <input type="text" class="form-control col-md-2 offset-md-10" placeholder="Поиск" aria-label="Поиск"
                       aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Поиск</button>
                </div>
            </div>
        </nav>
        <h1>Список всех доступных тем</h1>

        <!--        контейнер для тем-->

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h4 class="mb-0">
                        <div class="row">
                            <div class="col-10" role="button" data-toggle="collapse" data-target="#collapseOne"
                                 aria-expanded="true" aria-controls="collapseOne">
                                Тема 1#
                            </div>
                            <div id="theme-buttons" class="col-2 text-right">
                                <button class="btn btn-link" id="nextTheme" type="button">
                                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-link" id="previousTheme" type="button">
                                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-link" id="updateTheme" type="button">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </h4>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="card">
                            <!--                            контейнер для вопроса-->
                            <div class="card-header" id="headingTwo">
                                <h4 class="mb-0">
                                    <div class="row">
                                        <div class="col-10" role="button">
                                            <div id="question" class="col-sm-8">
                                                Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1Вопрос 1
                                            </div>
                                        </div>
                                        <div id="buttons" class="col-2 text-right">
                                            <button class="btn btn-link" id="nextQuestion" type="button">
                                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn btn-link" id="previousQuestion" type="button">
                                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn btn-link" id="updateQuestion" type="button">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn btn-link" id="deleteQuestion" type="button">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button id="addQuestion" type="button" class="btn btn-outline-primary btn-lg btn-block">Добавить вопрос</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>